/* Reset */
body, h1, h2, h3, p, ul{
    padding: 0px;
    margin: 0px;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}

.clear:after, .clear:before{
    content: "";
    display: table;
    clear: both;
}
/*

1 - Navbar
2 - SectionChamada
3 - SectionValores
4 - SectionTipos
5 - SectionLugares

*/


/* 1 - Navbar */
nav{
    background-color: #000;
    padding: 40px 0;
}

nav ul li a{
    color :#fff;
    text-decoration: none;
    font-size: 1.125em;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    margin: 10px 10px;
}

nav ul li:after{
    content: "";
    background: #fff;
    width: 0;
    height: 3px;
    display: block;
    transition: 0.3s;
}

nav ul li:hover:after{
    width: 100%;
}
/* 2 - Section Chamada */
#chamada{
    background: url("../img/bg-intro.jpg") no-repeat center center;
    padding: 130px 0;
    background-size: cover;
}
#chamada h1, #chamada h5{
    color: #fff;
}

#chamada h1::after{
    content: "";
    background: #fff;
    display: block;
    width: 20px;
    height: 4px;
    margin: 10px auto 0 auto;
}

#chamada h1{
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

#chamada h5{
    font-size:1.125em;
    text-align: center;
    font-style: italic;
}

/* Section Valores*/

#valores{
    padding: 50px;
}

#valores h2{
    font-size 2.25em;
    text-align: center;
    padding: 30px;
}

#valores p{
    padding:30px;
    font-size 1.125em;
    font-style: italic;
    max-width: 420px;
    text-align: center;
    margin: 0 auto;
}

#valores .valor{
    float: left;
    margin: 0 10px;

}

#valores h3{
    width: 220px;
    font-size: 2.25em;
    background-color: #252525;
    padding: 5px 0 10px 0;
    text-align: center;
    color: #fff;
    text-transform: lowercase;
    font-style: italic;
    position: relative;
    top: -25px;
}

@media (max-width:960px){
    #valores. container{
        max-width: 600px;
    }
    #valores. valor img{
        width: 280px;
    }
    #valores. valor h3{
        font-size: 1.125em;
    }
    @media (max-width:600px){
        #valores. container{
            max-width: 300px;
        }
        #valores. valor{
            margin: 20px 0;
        }
        #valores. valor img{
            width: 150px;
        }
        #valores. valor h3{
            font-size: 0.75em;
        }
    }
}


/* Section Tipos*/

#tipos-cafe{
    background-color: #e7e4d8;
}

#tipos-cafe .tipo-item{
    width: 300px;
    float: left;
    margin: 10px 10px 10px 10px;
}

#tipos-cafe .tipo-item p{
    font-size: 0.875em;
}

#tipos-cafe .tipo-item h2{
    font-size: 2.25em;
    text-align: center;
}

#tipos-cafe .tipo-item h2::before{
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #e7e4d8;

}

#tipos-cafe .tipo-item #paulista::before{
    background-color: #492901;
    box-shadow: 0 0 0 5px #492901;
}

#tipos-cafe .tipo-item #carioca::before{
    background-color: #c17139;
    box-shadow: 0 0 0 5px #c17139;
}

#tipos-cafe .tipo-item #mineiro::before{
    background-color: #d7a54d;
    box-shadow: 0 0 0 5px #d7a54d;
}

#tipos-cafe a{
    width: 150px;
    text-align: center;
    font-size: 1.33em;
    font-weight: bold;
    color: #252525;
    text-decoration: none;
    border: 3px solid #252525;
    border-style: groove;
    padding: 15px 0 ;
    margin: 0 auto;
    display: block;
    transition: 0.3s

}

#tipos-cafe a:hover{
    background-color: #000;
    color: #fff;
}

/* 5 - Section Lugares */



#lugares a{
    width: 100px;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    color: #252525;
    text-decoration: none;
    border: 2px solid #252525;
    border-style: groove;
}
